<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.AlumniMapper">
    <insert id="add">
        insert into tb_alumni (id, name, current_position, current_company, location, salary, phone, graduation_date, class_advisor, last_update_time , is_delete)
        values (#{alumni.id},
                #{alumni.name},
                #{alumni.currentPosition},
                #{alumni.currentCompany},
                #{alumni.location},
                #{alumni.salary},
                #{alumni.phone},
                #{alumni.graduationDate},
                #{alumni.classAdvisor},
                #{alumni.lastUpdateTime},
                #{alumni.isDelete}
        )
    </insert>
    <update id="updateById">
        update tb_alumni
            <set>
                <if test="alumni.name != null">
                    name = #{alumni.name},
                </if>
                <if test="alumni.currentPosition != null">
                    current_position = #{alumni.currentPosition},
                </if>
                <if test="alumni.currentCompany != null">
                    current_company = #{alumni.currentCompany},
                </if>
                <if test="alumni.location != null">
                    location = #{alumni.location},
                </if>
                <if test="alumni.salary != null">
                    salary = #{alumni.salary},
                </if>
                <if test="alumni.phone != null">
                    phone = #{alumni.phone},
                </if>
                <if test="alumni.graduationDate != null">
                    graduation_date = #{alumni.graduationDate},
                </if>
                <if test="alumni.classAdvisor != null">
                    class_advisor = #{alumni.classAdvisor},
                </if>
                <if test="alumni.lastUpdateTime != null">
                    last_update_time = #{alumni.lastUpdateTime}
                </if>
            </set>
            where id = #{alumni.id}
    </update>
    <update id="removeAlumniById">
        update tb_alumni set is_delete = 1 and id = #{id}
    </update>

    <select id="pageQueryAlumni" resultType="com.employment.pojo.vo.QueryAlumniVo">
        SELECT id, name, current_position, current_company, location, salary, phone, graduation_date, class_advisor, last_update_time
        FROM tb_alumni
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            AND is_delete = 0
        </where>
        ORDER BY graduation_date DESC
    </select>
    <select id="getAlumniByPhone" resultType="com.employment.pojo.entity.Alumni">
        select id,name,current_position,current_company,location,salary,phone,graduation_date,class_advisor,last_update_time
        FROM tb_alumni where
        phone = #{phone} AND is_delete = 0
    </select>
    <select id="getAllAlumni" resultType="com.employment.pojo.vo.ExportAlumniVo">
        select id,name,current_position,current_company,location,salary,phone,graduation_date,class_advisor,last_update_time
        FROM tb_alumni where is_delete = 0
    </select>
    <select id="getAlumniById" resultType="com.employment.pojo.entity.Alumni">
        select id,name,current_position,current_company,location,salary,phone,graduation_date,class_advisor,last_update_time
        FROM tb_alumni where
            id = #{id} AND is_delete = 0
    </select>
</mapper>
