<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.ClassInfoMapper">
    <!--    修改班级信息-->
    <update id="updateById">
        update tb_classinformation
        <set>
            <if test="classInformation.name != null">
                name = #{classInformation.name},
            </if>
            <if test="classInformation.adviser != null">
                adviser = #{classInformation.adviser},
            </if>
            <if test="classInformation.status != null">
                status = #{classInformation.status},
            </if>
            <if test="classInformation.graduationDate">
                graduation_data = #{classInformation.graduationDate},
            </if>
            <if test="classInformation.isDelete">
                is_delete = #{classInformation.isDelete}
            </if>
        </set>
        where id = #{classInformation.id}
    </update>




    <!--    分页查询班级信息-->
    <select id="pageQueryClassInfo" resultType="com.employment.pojo.vo.QueryClassInfoVo">
        SELECT id,`name`,adviser,`status`,graduation_date
        FROM tb_classinformation
        <where>
            <if test="name != null">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="adviser != null">
                AND adviser LIKE CONCAT('%', #{adviser},'%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        AND is_delete = 0
    </select>
    <select id="getClassInfoById" resultType="com.employment.pojo.vo.QueryClassDetailVo">
        SELECT id,`name`,adviser,`status`,graduation_date FROM tb_classinformation WHERE id = #{id} AND is_delete = 0
    </select>
</mapper>
