<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.DepartmentMapper">
<!--查询未被删除的系部信息-->
    <select id="getDepartment" resultType="com.employment.pojo.vo.DepartmentTagVo">
        SELECT id,`name` FROM `tb_department` WHERE is_delete = 0
    </select>
<!--    根据用户id查询对应的系部名字-->
    <select id="getDepartmentNameByUserId" resultType="java.lang.String">
        SELECT d.`name`
        FROM tb_department d
                 JOIN tb_user_department ud ON d.id = ud.department_id
        WHERE ud.user_id = #{id}
    </select>

<!--    根据班级id查询所属的系部姓名-->
    <select id="getDepartmentNameByClassId" resultType="java.lang.String">
        SELECT d.`name`
        FROM tb_department d
                 INNER JOIN (
            SELECT department_id
            FROM tb_class_deparrment
            WHERE class_id = #{id}
        ) cd ON d.id = cd.department_id;

    </select>
</mapper>
