<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.MenuMapper">

<!--    根据用户id获取菜单中的权限字段-->
    <select id="getPermisByUserId" resultType="java.lang.String">
        SELECT perms
            FROM
                tb_menu
            WHERE
                menu_type in('C','B')
              AND `status`= '0'
              AND is_delete = 0
              AND
                tb_menu.id in(SELECT DISTINCT menu_id FROM tb_role_menu WHERE role_id = (
                        SELECT r.id FROM tb_user_role ur , tb_role r WHERE ur.role_id = r.id and user_id = #{id}))
    </select>
<!--    根据id获取全部的菜单信息-->
    <select id="getMenusByUserId" resultType="com.employment.pojo.entity.Menu">
        SELECT
            m.id,m.menu_name,m.parent_id,m.path,m.component,m.menu_type,m.visible,m.`status`,m.perms,m.icon
        FROM tb_menu m
        WHERE
            menu_type IN('M','C')
          AND `status`= '0'
          AND is_delete = 0
          AND id IN((SELECT menu_id FROM tb_role_menu WHERE role_id IN(SELECT role_id FROM tb_user_role WHERE user_id = #{id})))
    </select>


</mapper>
