<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.UserRecruitMapper">
<!--    新增关联信息-->
    <insert id="addUserIdAndRecruitId">
        INSERT INTO tb_user_recruit(user_id,recruit_id) VALUES(#{userId},#{recruitId})
    </insert>
    <!--根据招聘id，获取对于发布人id-->
    <select id="getUserIdByRecruitId" resultType="java.lang.Long">
        SELECT user_id FROM tb_user_recruit WHERE recruit_id = #{id}
    </select>

<!--    根据用户id查询出对应的招聘信息id-->
    <select id="getRecruitIdByUserIds" resultType="java.lang.Long">
        SELECT recruit_id FROM tb_user_recruit WHERE user_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
