<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employment.mapper.UserRoleMapper">
    <insert id="addUserRole">
        INSERT INTO tb_user_role(user_id,role_id)
        VALUES(#{generateId},(SELECT id FROM tb_role WHERE role_key = #{roleKey}))
    </insert>


    <!--    根据用户id获取角色的key-->
    <select id="getRoleKeyByUserId" resultType="java.lang.String">
        SELECT
            role_key
        FROM tb_role
        WHERE
          `status`= '0'
          AND is_delete = 0
          AND  id in(SELECT role_id FROM tb_user_role WHERE user_id = #{id})
    </select>
<!--根据角色的关键字查询角色对应的userId-->
    <select id="getIdsByRoleKey" resultType="java.lang.Long">
        SELECT ur.user_id
        FROM tb_user_role ur
                 LEFT JOIN tb_role r ON ur.role_id = r.id
        WHERE r.role_key = #{roleKey}
    </select>


</mapper>
